@import "./variables";
@import "./fonts";

// blocks
@import "./blocks/common";
@import "./blocks/header";
@import "./blocks/hero";
@import "./blocks/app";
@import "./blocks/features";
@import "./blocks/download";
@import "./blocks/footer";
