.features-section {
  padding: 78px 0 53px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
    transition: gap 0.5s ease;

    @media only screen and (max-width: $tablet-l) {
      justify-content: space-between;
      gap: 40px;
    }

    @media only screen and (max-width: $tablet) {
      flex-direction: column;
    }

    @media only screen and (max-width: $mobile) {
      gap: 30px;
    }

    &--explore {
      flex-direction: row-reverse;

      @media only screen and (max-width: $tablet) {
        flex-direction: column;
      }
    }
  }

  &__img {
    transition: transform 0.5s ease, width 0.5s ease;

    @media only screen and (max-width: $mobile) {
      width: 90%;
      height: auto;
      margin: 0 auto;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__content {
    max-width: 568px;

    @media only screen and (max-width: $mobile) {
      text-align: center;
    }
  }

  &__title {
    font-weight: 700;
    line-height: 1.5;
    color: $orange;
    font-size: 24px;
    margin-bottom: 17px;
  }

  &__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: $dark-blue;
    margin-bottom: 27px;
  }

  &__description {
    max-width: 467px;
  }
}
