.site-footer {
  padding: 27px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: $tablet) {
      align-items: center;
      gap: 30px;
      flex-direction: column;
    }
  }

  .logo__img {
    transition: width 0.5s ease;

    @media only screen and (max-width: $tablet) {
      height: auto;
      width: 160px;
    }

    @media only screen and (max-width: $mobile) {
      display: none;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__icons {
    color: $orange;
    transition: color 0.5s ease;

    &:hover {
      color: $dark-blue;
    }
  }

  .copyright {
    font-weight: 600;
    font-size: 18px;
    color: $dark-blue;

    @media only screen and (max-width: $tablet) {
      text-align: center;
    }

    &__link {
      color: $orange;
      transition: color 0.5s ease;

      &:hover {
        color: $dark-blue;
      }
    }
  }
}
